VITE_SUPABASE_URL=https://rsunehtqlrhodkhhzqsc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJzdW5laHRxbHJob2RraGh6cXNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA3NTk3NjksImV4cCI6MjEwNjMzNTc2OX0.RgJ-CSSGqEq3PuQY1ezVQwO0orFtD9feURHXAxe84U4
VITE_STUDENT_DOMAIN=students.fts-portal.app

